body{
	font-family: 'Open Sans', sans-serif;
}

.dimension-picker-wrapper{
	font-size: 18px;
	width: 5em;
}

.dimension-picker{
	width: 100%;
	height: 100%;
	position: relative;
}

#dimension-picker-mousecatcher{
	width: 20em;
	height: 20em;
	position: absolute;
	z-index: 99;
}

.dimension-picker-unhighlighted{
	width: 5em;
	height: 5em;
	position: relative;
	background: url(/images/dimension-unhighlighted.png);
}

.dimension-picker-highlighted{
	width: 1em;
	height: 1em;
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	background: url(/images/dimension-highlighted.png);
}